{% extends 'base.html' %}

{% block head %}
  
{% endblock head %}

{% block body %}

<nav class="navbar">
  <div class="container">
    <div class="logo">
      <a class="navbar-brand" href="/">
        <img src="{{ url_for('static', filename='Images/logo.png') }}" alt="Logo" />
      </a>
    </div>
    <div class="links">
      <ul>
        <li><a href="/">Features</a></li>
        <li><a href="/about">Pricing</a></li>
        <li><a href="/services">Testimonials</a></li>
        <li><a href="/contact">Contacts</a></li>
      </ul>
    </div>
    <div class="nav-actions">
      <button class ="theme-btn">
        <img src="{{ url_for('static', filename='images/theme-icon.png') }}" alt="theme-icon" />
      </button>
      <button class="btn cyan">Log in</button>
      <button class="btn blue">Free trial</button>
    </div>
  </div>
</nav>

<!---------------------- Hero section ------------------>

<section class="hero">
  <div class="hero-inner">
    <div class="hero-content">
      <h1>Seamless Management, Powerful Features</h1>

      <div class="features">
        <div class="feature-card">
          <div class="icon">🧠</div>
          <div class="text">
            <h3>Intelligent Route Planning</h3>
            <p>Algorithmic optimizations for efficiency. Fuel costs ↓ & cost savings ↑.</p>
          </div>
        </div>

        <div class="feature-card">
          <div class="icon">📍</div>
          <div class="text">
            <h3>Real-time Student Tracking</h3>
            <p>Monitor pickup & drop-off times to ensure student safety.</p>
          </div>
        </div>
      </div>

      <button class="cta-btn">Get Started Today</button>
    </div>

    <div class="hero-image">
      <img src="{{url_for('static', filename='images/hero-img1.png')}}" alt="Bus Illustration">
    </div>
  </div>
</section>


<!-- <script src="{{url_for('static', filename='Js/script.js')}}"></script> -->

{% endblock body %}