{% extends 'base.html' %} {% block body %}

<nav class="navbar">
  <div class="container">
    <div class="logo">
      <a class="navbar-brand" href="/">
        <img src="{{ url_for('static', filename='Images/logo.png') }}" alt="Logo" />
      </a>
    </div>
    <div class="links">
      <ul>
        <li><a href="/">Features</a></li>
        <li><a href="/about">Pricing</a></li>
        <li><a href="/services">Testimonials</a></li>
        <li><a href="/contact">Contacts</a></li>
      </ul>
    </div>
    <div class="nav-actions">
      <button class ="theme-btn">
        <img src="{{ url_for('static', filename='images/theme-icon.png') }}" alt="theme-icon" />
      </button>
      <button class="btn cyan">Log in</button>
      <button class="btn blue">Free trial</button>
    </div>
  </div>
</nav>

<!-- Hero - section -->
<div class="hero">
  <div class="left">
    <h1>Seamless Maagement, Powerful Features</h1>
    
  </div>
  <div class="right">
    <img src="{{url_for('static', filename='images/hero-img1.png')}}" alt="">
  </div>
</div>

<!-- <script src="{{url_for('static', filename='Js/script.js')}}"></script> -->

{% endblock body %}